<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ncs.grabio">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/grab_ico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/grab_ico_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grabio"
        tools:targetApi="31">
        <activity
            android:name=".UI.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UI.MainHostActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Grabio.MainTheme" />
        <activity
            android:name=".Onboarding.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Onboarding.OnBoardingActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>